*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: url(./imagens/Fundo\ superior.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 116px ;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo img{
    width: 160px;
    height: auto;
    margin: 20px 0 0 50px ;
}

main{
    width: 100%;

}
.titulo{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;

    margin-left: auto;
    margin-right: 80px;
    padding: 20px;
    border-radius: 8px;
}

.titulo1, .titulo2{
    font-family: "Bangers", system-ui;
    font-weight:900;
    font-size: 3.5rem;
    line-height: 0.9;
}
