body{
    background-color: #F5F5F5;
    min-height: 100vh;
}

header{
    background-color: #1E2E4F;
    height: 90px;
}

header img{
    width: 150px;
    margin-left: 25px;
}

#voltar{
    background-color: #ffffff;
    font-size: 22px;
    width: 100px;
    height: 40px;
    float: right;
    margin: 25px;
}

.container{
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: calc(100vh - 90px);           
}

form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    padding: 30px 10px;
    gap: 10px;
}

input[type="file"]{
    display: none;
}

#preview{
    width: 400px;
}

label{
    font-size: 25px;
}

input{
    font-size: 18px;
}

.campo{
    align-self: flex-start;
    margin-left: 5px;
}

input[type="text"],
input[type="number"]{
    width: 800px;
    max-width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;
}

.checkbox-custom{
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: flex-start;
}

textarea{
    width: 800px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

input[type="number"]{
    appearance: textfield;
}

input[type="checkbox"]{
    accent-color: #31287a;
    width: 30px;
    height: 30px;
}

.botoes{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

#atualizar{
    background-color: #B3E2FF;
}

#deletar{
    background-color: hsl(0, 100%, 60%);
}

#voltar, form, #atualizar, #deletar{
    font-family: "Bebas Neue", sans-serif;
}

input, button{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    height: 40px;
}

button, input[type="checkbox"], #preview{
    cursor: pointer;
}

#atualizar, #deletar{
    width: 250px;
    font-size: 25px;
}

/* textarea{
    resize: none;
    resize: horizontal;
    resize: vertical;
} */